/* html,
body {
  height: 100%;
  background: #fff;
  font-family: Helvetica;
}
.container {
  width: 1025px;
}
.vertical-center {
  height: 100%;
  width: 100%;
  text-align: center;
  font: 0/0 a;
  overflow: hidden;
}
.vertical-center:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.vertical-center > .container {
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 768px) {
  .vertical-center:before {
    display: none;
  }
} */
