/* Global */

.body {
  margin: 0 0 0 0;
  padding: 0;
  background: #fff;
  font-family: Helvetica;
  overflow: none;
}

.container {
  width: 50%;
  margin: auto;
  overflow: none;
  padding-top: 80px;
}

.container-list {
  width: 50%;
  margin: auto;
  overflow: none;
  padding-bottom: 60px;
}

h3 {
  font-size: 12px;
  margin: 0;
}

button {
  margin: 2px;
}

/* Profile */

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.8px rgba(0, 0, 0, 0.3);
}

.profile img {
  width: 100%;
}

.profile .view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 10px;
  background: #fff;
  /* color: #262626; */
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.profile-default {
  /* background: "./../images/user-solid.png"; */

  max-height: 100%;
  max-width: 100%;
  /* Centers the image */
  margin: 0 auto;
  position: relative;
  margin-top: 0%;
  display: flex;
  user-select: none;
  border-radius: 1px;
}

.details {
  height: 34%;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #1b1c1d; */
  background-color: #fff;
  /* transition: 0.5s;
  transform: perspective(500px) scale(0); */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.userdatalist {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
  margin: auto;
}

.username {
  width: 100%;
  margin: auto;
  position: fixed;
  font-size: 15.4px;
  font-weight: bold;
  bottom: 120px;
  padding: 7.2px;
  border: 2px;
  letter-spacing: -0.2px;
  background-color: #fff;
  /* background-color: #1b1c1d; */
  /* background: -webkit-linear-gradient(#ffeeee, #ddefbb); */
  box-shadow: 0 0.3px 0.6px rgba(0, 0, 0.3, 0.3);
  /* color: #fff4ed; */
  user-select: none;
}

.userbalance {
  width: 100%;
  margin: auto;
  position: fixed;
  font-size: 14.3px;
  /* font-weight: bold; */
  top: 80.2%;
  right: 20px;
  /* color: #fff4ed; */
  user-select: none;
}

.userqualifier {
  width: 100%;
  position: fixed;
  font-size: 14.3px;
  /* font-weight: bold; */
  top: 89.8%;
  right: 20px;
  /* color: #fff4ed; */
  user-select: none;
}

/* .profile-list-group {
  align-items: left;
  float: left;
} */

.details h2 {
  margin: 0;
  padding: 0;
  color: #607d8b;
  font-size: 18px;
  text-transform: uppercase;
}

.details h2 span {
  font-size: 14px;
  color: #ccc;
}

.details p {
  margin: 0;
  padding: 10px 0 0;
  font-size: 14px;
  color: #aaa;
}

.details ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.details ul li {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

/* Admin */

.form-group {
  min-width: 360px;
}

/* .user-list-container {
  min-width: 400px;
} */

/* Media queries */

@media (max-width: 768px) {
  h3 {
    font-size: 12px;
    margin: 0;
  }
  .container {
    float: none;
    width: 98%;
  }
  .container-list {
    float: none;
    width: 98%;
    margin: auto;
    padding-bottom: 60px;
  }
  .list-group {
    overflow: hidden;
  }
  .form-group {
    min-width: 280px;
    margin: auto;
    padding: 2px;
  }
}
