/* Global */

* {
  margin: 0;
  padding: 0;
}

/* html {
  background: url(../images/landing2.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} */

html {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.body {
  margin: 0 0 0 0;
  padding: 0;
  background: #222222;
  overflow-x: none;
}

path {
  fill: transparent;
}

text {
  fill: #ff9800;
}

/* div {
  margin: 0;
  padding: 0;
  width: 100%;
} */

#showcase {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.65),
      rgba(20, 20, 20, 0.65)
    ),
    url(../images/chips3-blur.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-position: center; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
  top: 0;
}

#showcase h1 {
  font-size: 50px;
  font-family: "Rubik Mono One", sans-serif;
}

/* 
.container .text-center {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url(../images/landing2.png) no-repeat center center fixed;
} */

/* section {
  position: relative;
  padding: 15px;
  width: 100%;
  height: 1080px;
}

section::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url(../images/landing2.png) no-repeat;
} */

#container{
  height: 100vh;
  margin-top: 50px;
}

.container {
  width: 97vw;
  height: 90vh;
  margin: auto;
  padding-top: 80px;
  position: relative;
  z-index: 2;
}

/* .container-img {
  width: 50%;
  margin: auto;
  overflow: none;
  padding-top: 80px;
} */

.container-list {
  width: 37vw;
  margin: auto;
  padding-top: 80px;
  position: relative;
  z-index: 2;
  color: white;
  overflow-x: hidden;
}

.container-list-group {
  width: 40vw;
  margin-top: 1px;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  padding: 0.5px;
}

.container-list-group h5 {
  color: #fff;
  margin: 2px;
  letter-spacing: 0.5px;
  padding-bottom: 2px;
  overflow-x: hidden;
  font-size: 12px;
}

.container-list-group h3 {
  color: #222222;
  margin: 1px;
  letter-spacing: 0.5px;
  padding-bottom: 2px;
  overflow-x: hidden;
}

.container-list-single {
  width: 40vw;
  margin-top: 1px;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  padding: 0.5px;
}

/* .list-group-item {
  
} */

.card {
  color: #222222;
  padding-left: 5px;
  font-size: 15px;
  letter-spacing: 0.2px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.8px rgba(0, 0, 0, 0.6);
}

.card h4 {
  color: #222222;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
}

.card-block {
  color: #222222;
}

.card-text {
  padding-top: 1.5px;
  padding-left: 15px;
}

/* .container-list-child {
  width: 40vw;
  margin: auto;
  overflow: none;
  position: relative;
  z-index: 2;
  color: #222222;
} */

.container-form {
  width: 23vw;
  height: auto;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container-form-edit {
  min-width: 18vw;
  min-height: 54vh;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.8px rgba(0, 0, 0, 0.3);
}

.container h1 {
  font-family: "Changa One", cursive;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 94px;
  margin: auto;
  color: #fff;
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  user-select: none;
}

.container h2 {
  font-family: "Patua One", cursive;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 42px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: -26px;
  color: #222222;
  background: white;
  width: 270px;
  border-radius: 21px;
  user-select: none;
}

.container h3 {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 20px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 20vh;
  user-select: none;
}

.container h4 {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 24px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 18px;
  user-select: none;
}

.container h5 {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 16px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 12px;
  user-select: none;
}

#content-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Starts */
.block {
  display: flex;
  /* width: 95vw; */
  width: 100%;
  margin: 0;
  border: none;
  background-color: #000;
  padding: 14px 26px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  padding: 46px;
}

.button-top {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 22px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  /* margin-top: -4.5vh; */
  width: 100vw;
  position: absolute;
  top: 0;
}

.button-bottom {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 22px;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  /* margin-top: 20vh; */
  width: 100vw;
  position: absolute;
  bottom: 50px;
}

.button-left {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 22px;
  margin: auto;
  color: #fff;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center; */
  /* margin-right: 300px; */
}

.button-right {
  font-family: "Oxygen", sans-serif;
  text-shadow: 2px 0px 3px rgba(150, 150, 150, 0.33);
  font-size: 22px;
  margin: auto;
  color: #fff;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center; */
  /* margin-bottom: 1500px; */
 
}

.btn-left {
}

.btn-right {
}

.container-center {
  width: 58vw;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* .block-side {
  display: block;
  height: 100%;
  border: none;
  background-color: #000;
  opacity: 0.9;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
} */

.rotate-left {
  left: 0;
  -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
       -o-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
      -ms-transform: rotate(-90deg) translate(-50%, 50%);
       -o-transform: rotate(-90deg) translate(-50%, 50%);
          transform: rotate(-90deg) translate(-50%, 50%);
  width: 100vh;
  position: absolute;
}

.rotate-right {
  right: 0;
  -webkit-transform-origin: 100% 50%;
     -moz-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
       -o-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotate(90deg) translate(50%, 50%);
     -moz-transform: rotate(90deg) translate(50%, 50%);
      -ms-transform: rotate(90deg) translate(50%, 50%);
       -o-transform: rotate(90deg) translate(50%, 50%);
          transform: rotate(90deg) translate(50%, 50%);
    width: 100vh;
    position: absolute;
}

div h3 {
  font-family: sans-serif;
  font-size: 17px;
  margin: 0;
  color: #fff;
}

div p {
  font-family: sans-serif;
  font-size: 17px;
  margin: 0;
}

h3 {
  font-size: 12px;
  margin: 0;
}

div h4 {
  font-size: 14px;
  margin: 0;
  color: #fff;
}

button {
  margin: 2px;
}

/* Profile */

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.4px 1.8px rgba(0, 0, 0, 0.3);
}

.profile img {
  width: 100%;
}

.profile .view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 10px;
  background: #fff;
  /* color: #262626; */
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.profile-default {
  /* background: "./../images/user-solid.png"; */

  max-height: 100%;
  max-width: 100%;
  /* Centers the image */
  margin: 0 auto;
  position: relative;
  margin-top: 0%;
  display: flex;
  user-select: none;
  border-radius: 1px;
}

.details {
  height: 34%;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #1b1c1d; */
  background-color: #fff;
  /* transition: 0.5s;
  transform: perspective(500px) scale(0); */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.userdatalist {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
  margin: auto;
}

.username {
  width: 100%;
  margin: auto;
  position: fixed;
  font-size: 15.4px;
  font-weight: bold;
  bottom: 120px;
  padding: 7.2px;
  border: 2px;
  letter-spacing: -0.2px;
  background-color: #fff;
  /* background-color: #1b1c1d; */
  /* background: -webkit-linear-gradient(#ffeeee, #ddefbb); */
  box-shadow: 0 0.3px 0.6px rgba(0, 0, 0.3, 0.3);
  /* color: #fff4ed; */
  user-select: none;
}

.userbalance {
  width: 100%;
  margin: auto;
  position: fixed;
  font-size: 14.3px;
  /* font-weight: bold; */
  top: 80.2%;
  right: 20px;
  /* color: #fff4ed; */
  user-select: none;
}

.userqualifier {
  width: 100%;
  position: fixed;
  font-size: 14.3px;
  /* font-weight: bold; */
  top: 89.8%;
  right: 20px;
  /* color: #fff4ed; */
  user-select: none;
}

/* .profile-list-group {
  align-items: left;
  float: left;
} */

.details h2 {
  margin: 0;
  padding: 0;
  color: #607d8b;
  font-size: 18px;
  text-transform: uppercase;
}

.details h2 span {
  font-size: 14px;
  color: #ccc;
}

.details p {
  margin: 0;
  padding: 10px 0 0;
  font-size: 14px;
  color: #aaa;
}

.details ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.details ul li {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

/* Admin */

.form-group {
  margin-top: -5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  min-width: 16vw;
}

/* .user-list-container {
  min-width: 400px;
} */

/* Media queries */
@media only screen and (max-width: 767px) {
  .block{
    padding: 10px;
    font-size: 20px;
  }
}