/* Profile */

body {
  margin: 0;
  padding: 0;
  background: #262626;
  font-family: Helvetica;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.profile img {
  width: 100%;
}

.profile .view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 10px;
  background: #fff;
  color: #262626;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.details {
  height: 34%;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #1b1c1d; */
  background-color: #fff;
  /* transition: 0.5s;
  transform: perspective(500px) scale(0); */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-evenly;
}

.userdatalist {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-evenly;
}

.username {
  position: relative;
  font-size: 15.4px;
  font-weight: bold;
  bottom: 3em;
  padding: 13px;
  border: 2px;
  letter-spacing: -0.2px;
  background-color: #fff;
  /* background-color: #1b1c1d; */
  /* background: -webkit-linear-gradient(#ffeeee, #ddefbb); */
  box-shadow: 0 0px 0.6px rgba(0, 0, 0, 0.5);
  /* color: #fff4ed; */
  user-select: none;
}

.userbalance {
  position: fixed;
  font-size: 14.3px;
  /* font-weight: bold; */
  top: 80%;
  right: 68%;
  /* color: #fff4ed; */
  user-select: none;
}

.userqualifier {
  position: fixed;
  font-size: 14.3px;
  /* font-weight: bold; */
  top: 80%;
  left: 68%;
  /* color: #fff4ed; */
  user-select: none;
}

/* .profile-list-group {
  align-items: left;
  float: left;
} */

.details h2 {
  margin: 0;
  padding: 0;
  color: #607d8b;
  font-size: 18px;
  text-transform: uppercase;
}

.details h2 span {
  font-size: 14px;
  color: #ccc;
}

.details p {
  margin: 0;
  padding: 10px 0 0;
  font-size: 14px;
  color: #aaa;
}

.details ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.details ul li {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

/* .details ul li:nth-child(1) .fa {
  color: #3b5998;
}

.details ul li:nth-child(2) .fa {
  color: #3b5998;
}

.details ul li:nth-child(3) .fa {
  color: #3b5998;
} */

.close {
  font-size: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #f00;
  cursor: pointer;
}

/* 
.container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: left;
} */
